@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-inika: var(--font-inika);
  --font-fredoka: var(--font-fredoka);
  --color-background: #fefbf6;
  --color-primary: #7f5283;
  --color-primary-600: #7c4981;
  --color-primary-400: #9c5fa1;
  --color-secondary: #a6d1e6;
  --color-foreground: #3d3c42;
  --color-placeholder: #7b7986;
  --color-black: #000000;
  --color-error-red: #ff0000;
  --color-gry: #f1f1f1;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: #fefbf6;
  --color-primary: #7f5283;
  --color-primary-600: #7c4981;
  --color-primary-400: #9c5fa1;
  --color-secondary: #a6d1e6;
  --color-foreground: #3d3c42;
  --color-placeholder: #7b7986;
  --color-black: #000000;
  --color-error-red: #ff0000;
  --color-gry: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-conic-gradient {
  background: rgb(166, 209, 230);
  background: linear-gradient(
    173deg,
    rgba(166, 209, 230, 1) 0%,
    rgba(66, 186, 245, 1) 64.9%,
    rgba(127, 82, 131, 1) 65.1%,
    rgba(208, 138, 214, 1) 100%
  );
}

.glow-shadow {
  transition: 0.1s linear;
}
.glow-shadow:focus {
  box-shadow: var(--color-primary-400) 0px 0px 4px,
    var(--color-primary-400) 0px 0px 6px;
}
